<footer>
    <div class="footer-container">
      <div class="footer-column">
        <h3>Nuestras redes</h3>
        <ul>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Nuestros destinos</h3>
        <ul>
          <li><a href="#">España</a></li>
          <li><a href="#">Andorra</a></li>
          <li><a href="#">Francia</a></li>
          <li><a href="#">Reino Unido</a></li>
          <li><a href="#">Alemania</a></li>
          <li><a href="#">Italia</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Nuestras Actividades</h3>
        <ul>
          <li><a href="#">Escalada</a></li>
          <li><a href="#">Rutas senderismo</a></li>
          <li><a href="#">Rafting</a></li>
          <li><a href="#">Kayak</a></li>
          <li><a href="#">Rutas en bici</a></li>
          <li><a href="#">Esquí / Snowboard</a></li>
          <li><a href="#">Paseos en helicóptero</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Soporte</h3>
        <ul>
          <li><a href="#">Contacta con nosotros</a></li>
        </ul>
      </div>
    </div>
  </footer>
  