<header>
  <div class="header-container">
    <a class="logo" href="/dashboard">
      <img src="logo.png" alt="Traveller Logo">
      <span>TRAVELLER</span>
    </a>
    <nav class="nav-menu">
      <ul>
        <li><a href="#">Alojamientos</a></li>
        <li><a href="#">Vuelos</a></li>
        <li><a href="#">Vehículos de alquiler</a></li>
        <li><a href="#">Actividades</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
    <div class="auth-buttons">
      <a href="registro" class="btn register" routerLink="/registro" routerLinkActive="active">REGISTRARSE</a>
      <a href="login" class="btn" routerLink="/login" routerLinkActive="active">INICIAR SESIÓN</a>
    </div>
  </div>
</header>
