<div class="container">
    <div class="info">
        <h2>Información de contacto</h2>
        <p>Rellena el formulario o contáctanos directamente en nuestra oficina, a través de nuestro número de teléfono o
            a través de nuestro correo electrónico</p>
        <br><br>
        <p><strong>📞</strong> +34 680713060</p>
        <br>
        <p><strong>📧</strong> traveler&#64;support.traveler.com</p>
        <br>
        <p><strong>📍</strong> Carrer de Monlau 6 08027, Barcelona</p>
    </div>
    <div class="form-container">
        <form>
            <label>Nombre*</label>
            <input type="text" required>

            <label>Apellido*</label>
            <input type="text" required>

            <label>Correo electrónico*</label>
            <input type="email" required>

            <label>Número de teléfono</label>
            <input type="tel">

            <br>

            <p>Seleccione el motivo:</p>
            <div class="radio-group">
                <input type="radio" name="motivo1"> <label>Quiero más info</label> 
                <input type="radio" name="motivo2"> <label>Error</label> 
                <input type="radio" name="motivo3"> <label>Aclaración</label> 
            </div>

            <textarea required></textarea>
            <button type="submit">Send Message</button>
        </form>
    </div>
</div>